.navbar {
  display: flex;
  background-color: #dfe6e9;
  align-items: center;
}

.navbuttonR {
  width: 50%;
  margin: 1vh;
  display: flex;
}

.navbuttonl {
  width: 50%;
  display: flex;
  margin: 1vh;
  justify-content: flex-end;

}

.navLink {
  font-size: 2.5vh;
  margin: 1vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: #2d3436;
}

.navLinkOff {
  font-size: 2.5vh;
  margin: 1vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: #a8aeb1;
}

.header img {
  width: 50px;
  margin: 20px;
} 

.loginBlock .login {
  float: right;
  text-decoration: none;
  margin: 20px;
  color: rgb(241, 236, 236);
  font-weight: bold;
}
