.navbar {
  display: flex;
  background-color: rgb(102, 141, 226);
 
}

.navbutton {
  border-color: black;
  border-style: solid;
  margin: 1vh;
}

.header img {
  width: 50px;
  margin: 20px;
} 

.loginBlock .login {
  float: right;
  text-decoration: none;
  margin: 20px;
  color: rgb(241, 236, 236);
  font-weight: bold;
}
