
.formControl.error input,
.formControl.error textarea {
    border: solid rgb(245, 0, 0) 2px;
}

.formControl.error span {
    color:  rgb(73, 71, 71);
}

.formSummaryError {
    padding: 5px;
    color: rgb(73, 71, 71);
}